@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
@theme{
  --color-primary: #0070f3;
  --color-secondary: #1c1c1e;
  --color-accent: #e2e8f0;
  --color-textgrad: linear-gradient(90deg, rgba(0, 112, 243, 1) 0%, rgba(149, 87, 199, 1) 100%);
  --font-roboto: 'Roboto';
  --font-pacifico: 'Pacifico';
  --font-bubble: 'Bubblegum_Sans';
}
.grad{

}